.wrapper {
  margin: 40px 0;
}

.content {
  font-size: 16px;
  font-weight: 400;

  @media (min-width: 426px) {
    font-size: 18px;
  }

  h1 {
    font-family: 'Arsenica Trial Bold';
    font-style: normal;
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 1.6em;
    color: #2C3748;
  }

  h3 {
    font-family: 'Noto Serif Display';
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #2C3748;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: lighter;
    font-size: 1em;
    line-height: 1.1em;
    letter-spacing: 0.03em;
    color: #000000;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      p {
        margin-left: 10px;
        margin-bottom: 0;
      }

      span {
        width: 24px !important;
        height: 24px !important;

        img {
          width: 24px !important;
          height: 24px !important;
        }
      }

    }
  }
}

.animated {
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.7s ease-out, opacity 0.4s ease-out;
}

.animated2 {
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.7s ease-out, opacity 0.4s ease-out;
}